nav.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
}

nav.site-nav ul li {
  display: table-cell;
  width: 1%;
}

nav.site-nav ul li a {
  text-align: center;
  display: block;
  padding: 20px 0;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}